.mat-card-wrap {
    margin-top: 2%;
    margin-bottom: 2%;
}

.mat-card {
    width: 60%;
    display: block;
    margin-top: 2%;
    margin-left:auto;
    margin-right:auto;  
    background: #2f363d;
    color: #fff;
}

.mat-card mat-card-subtitle {
    color: #fff;
}

.mat-flat-button {
    background: linear-gradient(to right, #ff416c, #ff4b2b) !important;
    color: #fff !important;
}

.col-sm {
    padding-right: 0px !important;
}
