<mat-tab-group dynamicHeight>
    <mat-tab label="View Gigs">
        <div class="mat-card-wrap">
            <div *ngFor="let gigs of gigs;">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title> {{gigs.title}} </mat-card-title>
                        <mat-card-subtitle> Category </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            {{gigs.desc}}
                        </p>
                        <p>
                            Rs. {{gigs.budget}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="d-flex justify-content-end">
                            <button mat-flat-button> DELETE </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div> 
            <!-- <mat-card>
                <mat-card-header>
                    <mat-card-title> Title </mat-card-title>
                    <mat-card-subtitle> Category </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa sapien, mollis sit
                        amet enim vel, finibus rhoncus orci. Vestibulum eget facilisis dolor, eget ullamcorper quam.
                        Nulla tincidunt velit et vehicula ullamcorper. Cras non massa quis dui feugiat lacinia nec eget
                        libero.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-flex justify-content-end">
                        <button mat-flat-button> APPLY </button>
                    </div>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title> Title </mat-card-title>
                    <mat-card-subtitle> Category </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa sapien, mollis sit
                        amet enim vel, finibus rhoncus orci. Vestibulum eget facilisis dolor, eget ullamcorper quam.
                        Nulla tincidunt velit et vehicula ullamcorper. Cras non massa quis dui feugiat lacinia nec eget
                        libero.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-flex justify-content-end">
                        <button mat-flat-button> APPLY </button>
                    </div>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title> Title </mat-card-title>
                    <mat-card-subtitle> Category </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa sapien, mollis sit
                        amet enim vel, finibus rhoncus orci. Vestibulum eget facilisis dolor, eget ullamcorper quam.
                        Nulla tincidunt velit et vehicula ullamcorper. Cras non massa quis dui feugiat lacinia nec eget
                        libero.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-flex justify-content-end">
                        <button mat-flat-button> APPLY </button>
                    </div>
                </mat-card-actions>
            </mat-card> -->
        </div>
    </mat-tab>
    <mat-tab label="Filter Gigs" class="d-flex justify-content-center">
    </mat-tab>
    <mat-tab label="Profile" class="d-flex justify-content-center">
        <div class="mat-card-wrap">
            <mat-card class="d-flex justify-content-center">
                <div class="container" style="margin-top: 3%;">
                    <br>
                    <div class="row col-sm d-flex justify-content-center">
                        <img mat-card-image
                            src="https://scontent.fbom16-1.fna.fbcdn.net/v/t1.0-9/80058003_102924364554021_5949304830592811008_n.jpg?_nc_cat=106&_nc_sid=85a577&_nc_ohc=wdNTJwYxtV4AX_zueSC&_nc_ht=scontent.fbom16-1.fna&oh=3509d31a1f99d1b20e2d48e963d50221&oe=5F2DB50D"
                            class="img-fluid rounded-circle" alt="Photo of a Shiba Inu" style="width: 30%; height: auto;">
                    </div>
                    <div class="row col-sm d-flex justify-content-center">
                        <mat-card-header>
                            <mat-card-title>{{ user_name }}</mat-card-title>
                        </mat-card-header>
                    </div>
                    <div class="row col-sm d-flex justify-content-center">
                        <mat-card-header>
                            <mat-card-subtitle>{{ dev_des }}</mat-card-subtitle>
                        </mat-card-header>
                    </div>
                    <div class="row col-sm">
                        <mat-card-content>
                            <h3>
                                <b>Highlights</b>
                            </h3>
                        </mat-card-content>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>
                                <b>Experience</b>
                            </p>
                            <p>
                                {{ dev_exp }}
                            </p>
                        </div>
                        <div class="col-sm">
                            <p>
                                <b>Achievements</b>
                            </p>
                            <p>
                                {{ dev_achievement }}
                            </p>
                        </div>
                    </div>
                    
                    <div class="row col-sm">
                        <mat-card-content>
                            <br>
                            <h3>
                                <b>User Details</b>
                            </h3>
                        </mat-card-content>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>
                                <b>Email</b>
                            </p>
                            <p>
                                {{ user_email }}
                            </p>
                        </div>
                        <div class="col-sm">
                            <p>
                                <b>Birthday</b>
                            </p>
                            <p>
                                {{ user_dob }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <br>
                            <p>
                                <b>Gender</b>
                            </p>
                            <div *ngIf="user_gender">Female</div>
                            <div *ngIf="!user_gender">Male</div>
                        </div>
                    </div>
                    <br>
                    <div class="row col-sm">
                        <br>
                        <h3>
                            <b>Social Media</b>
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>
                                <b>LinkedIn</b>
                            </p>
                            <p>
                                {{ dev_linkedin }}
                            </p>
                        </div>
                        <div class="col-sm">
                            <p>
                                <b>Facebook</b>
                            </p>
                            <p>
                                {{ dev_facebook }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>
                                <b>Twitter</b>
                            </p>
                            <p>
                                {{ dev_twitter }}
                            </p>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>
