/* You can add global styles to this file, and also import other style files */
body
{
    background: #1d2125;  /* fallback for old browsers */
    font-family: sans-serif;
    margin: 0;
    color:#fff;
}

a 
{
    color: #fff;
    text-decoration: none;
}
  
a:hover {
    opacity: 0.8;
}

.input select option {
    color: black; 
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    height: 6%;
} 

.mat-card-header-text {
    margin: 0 0px !important; 
}

.mat-tab-label, .mat-tab-link {
    color: #fff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
